<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeonse.repository.CommonchecklistMapper">
    <!-- 값 넣기 -->
    <!-- wishlistNum auto increment이기에 따로 insert x -->
    <insert id="insertCommonchecklist" parameterType="com.jeonse.dto.CommonchecklistDTO">
        insert into commonchecklist (memID, agentCheck, foriengerCheck, familyCheck, loanAmount, housePrice, jeonseDeposit, jeonseTerm, landlordPossessionMonth, seniorDebt, houseID)
                                        values(
                                              #{memID},
                                              #{agentCheck},
                                              #{foriengerCheck},
                                              #{familyCheck},
                                              #{loanAmount},
                                              #{housePrice},
                                              #{jeonseDeposit},
                                              #{jeonseTerm},
                                              #{landlordPossessionMonth},
                                              #{seniorDebt},
                                              #{houseID}
                                        )
    </insert>
    <!-- 값 지우기 -->
    <delete id="deleteCommonchecklist" parameterType="int">
        delete from commonchecklist where wishlistNum=#{wishlistNum}
    </delete>
    <!-- 기존에 몇 개 있는지 체크-->
    <select id="checkCommonchecklistID" parameterType="String" resultType="int">
        select count(*) from commonchecklist where memID = #{memID}
    </select>
    <!-- 특정 commonchecklist 반환 -->
    <select id="getCommonChecklist" parameterType="int" resultType="com.jeonse.dto.CommonchecklistDTO">
        select * from commonchecklist where wishlistNum = #{wishlistNum}
    </select>
    <!-- 가지고 있는 모든 commonchecklist 반환 -->
    <select id="getAllCommonChecklist" parameterType="String" resultType="map">
        SELECT a.houseID, a.wishlistNum
        FROM commonchecklist a
        JOIN ibkansimjeonse b ON a.wishlistNum = b.wishlistNum
        JOIN ibkjeonse c ON b.wishlistNum = c.wishlistNum
        WHERE a.memID = #{memID}
    </select>
    <!-- 집 아이디 반환 -->
    <select id="getHouseIDFromCommonchecklist" parameterType="int" resultType="int">
        select houseID from commonchecklist where wishlistNum = #{wishlistNum}
    </select>
    <!--가장 최근 wishlistNum 반환 -->
    <select id="getLatestWishlistNumFromCommonchecklist" parameterType="String" resultType="int">
        select wishlistNum from commonchecklist where memID=#{memID} order by wishlistNum desc limit 1;
    </select>

</mapper>